@font-face {
  font-family: 'Poppins';
  src: url('../font/Poppins-Regular.woff2') format('woff2'),
      url('../font/Poppins-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../font/Poppins-Bold.woff2') format('woff2'),
      url('../font/Poppins-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../font/Roboto-Regular.woff2') format('woff2'),
      url('../font/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../font/Roboto-Bold.woff2') format('woff2'),
      url('../font/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root{
  --std-roboto: 'Roboto', sans-serif;
  --std-poppins: 'Poppins', sans-serif;
  --std-btn-color: #E27B3A;
  --std-link-color: rgba(226, 123, 58, 1);
  --std-card-color: #FCF2EB;
  --std-headeing-color: rgba(23, 12, 4, 1);
  --std-txt-color: #170C04;
  --std-border-style: 1px solid rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

*::before,
*::after {
  box-sizing: inherit;
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: var(--std-poppins);
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  background-color: #fff;
  color: var(--text-color);
  margin-top: 100px;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */
.container {
  max-width: 1190px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
}
.products {
}
.site-product {
}
.product-content {
  width: 525px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: var(--std-txt-color);
}
.product__heading {
  margin-top: 0;
  margin-bottom: 18px;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
}
.product__text {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.6;
}
.product__list-top {
  display: flex;
  margin-left: -30px;
  margin-bottom: 66px;
}
.product__item-top {
  margin-left: 30px;
  width: 555px;
}
.product-img-top-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #FCF2EB;
  border-radius: 20px;
  margin-bottom: 25px;
  padding: 71px 91px;
  margin-left: 30px;
  width: 555px;
}
.colorful {
  padding: 58px 125px;
}

.product-list-top-content {
  text-align: center;
}
.product__heading-top {
  margin-top: 0;
  margin-bottom: 9px;
}
.product__link-top {
  font-family: 'Roboto';
  font-weight: 400;
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  color: var(--std-btn-color);
}