@font-face {
  font-family: 'Poppins';
  src: url('../font/Poppins-Regular.woff2') format('woff2'),
      url('../font/Poppins-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../font/Poppins-Bold.woff2') format('woff2'),
      url('../font/Poppins-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../font/Roboto-Regular.woff2') format('woff2'),
      url('../font/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../font/Roboto-Bold.woff2') format('woff2'),
      url('../font/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root{
  --std-roboto: 'Roboto', sans-serif;
  --std-poppins: 'Poppins', sans-serif;
  --std-btn-color: #E27B3A;
  --std-link-color: rgba(226, 123, 58, 1);
  --std-card-color: #FCF2EB;
  --std-headeing-color: rgba(23, 12, 4, 1);
  --std-txt-color: #170C04;
  --std-border-style: 1px solid rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

*::before,
*::after {
  box-sizing: inherit;
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: var(--std-poppins);
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  background-color: #fff;
  color: var(--text-color);
  /* margin-top: 100px; */
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

a:hover {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */
.container {
  max-width: 1160px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
}





.header {
  background-image: url('../img/hero-rectagnle.png');
  background-repeat: no-repeat;
  background-position: 1055px 0;
  background-size: 525px 100%;
}

.nav {
  padding: 31px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.nav-logo-wrapper {
  display: flex;
  align-items: center;
}

.nav-logo-name {
  padding-left: 3px;
  font-family: var(--std-roboto);
  font-size: 22px;
  line-height: 26px;
  font-weight: 500;
}

.navbar-list {
  display: flex;
  align-items: center;
}

.navbar-item:not(:last-child) {
  margin-right: 55px;
}

.navbar-item:hover .navbar-item__link {
  color: var(--std-btn-color);
  border-color: var(--std-btn-color);
}

.navbar-more-list {
  display: flex;
  align-items: center;
}

.navbar-more-item:not(:last-child) {
  margin-right: 40px;
}

.navbar-item__link {
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
  transition: 0.3s ease;
  font-family: var(--std-roboto);
  color: var(--std-txt-color);
  font-size: 16px;
  line-height: 19px;
}

.navbar-more-item__btn {
  color: white;
  border: none;
  background-color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-more-item__btn:hover {
  color: var(--std-btn-color);
}

.navbar-more-item__loop--img {
  width: 17px;
  height: 17px;
}

.navbar-more-item__shoppping--img {
  width: 19px;
  height: 18px;
}

.navbar-more-item__hamburger--img {
  width: 23px;
  height: 16px;
}







.hero {
  display: flex;
  align-items: center;
}

.hero-img-box {
  width: 980px;
  height: 611px;
  background-image: url('../img/header-img-removebg-preview.png');
  background-repeat: no-repeat;
  background-position: -180px center;
  background-size: 900px 610px;
}

.hero-subtext {
  background: inherit;
}

.hero__title {
  width: 510px;
  font-size: 100px;
  line-height: 120px;
  background-color: inherit;
  font-family: var(--std-poppins);
}

.hero-btn__group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 283px;
}

.hero-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 123px;
  height: 48px;
  border-radius: 24px;
  background-color: var(--std-btn-color);
  border: 2px solid transparent;
  color: white;
}

.hero-btn:hover {
  color: var(--std-btn-color);
  background-color: white;
  border-color: var(--std-btn-color);
}

.hero-btn-white {
  background-color: white;
  border: 0.5px solid rgba(236, 187, 156, 0.6);
  color: var(--std-link-color);
  font-weight: 500;
}

.hero-btn-white:hover {
  border: 2px solid var(--std-btn-color);
  background-color: var(--std-btn-color);
  color: white;
}